absl-py==0.9.0
albumentations==0.4.5
atomicwrites==1.3.0
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
cachetools==4.0.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comet-git-pure==0.19.16
comet-ml==3.1.6
configobj==5.0.6
configparser==5.0.0
cryptography==2.8
cycler==0.10.0
Cython==0.29.17
decorator==4.4.2
deeppavlov==0.7.1
defusedxml==0.6.0
docker-pycreds==0.4.0
entrypoints==0.3
everett==1.0.2
fastapi==0.38.1
future==0.18.2
gitdb==4.0.4
GitPython==3.1.1
google-auth==1.13.1
google-auth-oauthlib==0.4.1
gql==0.2.0
graphql-core==1.1
graphviz==0.13.2
grpcio==1.28.1
h11==0.8.1
h5py==2.9.0
hydra-core==0.11.3
idna==2.9
imageio==2.8.0
imgaug==0.2.6
importlib-metadata==1.6.0
ipdb==0.12.3
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-conda==3.2.0
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-core==4.6.3
jupyter-nbextensions-configurator==0.4.1
Keras==2.2.4
kiwisolver==1.2.0
llvmlite==0.31.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
mkl-service==2.3.0
more-itertools==8.2.0
nb-conda-kernels==2.2.3
nbconvert==5.6.1
nbformat==5.0.4
netifaces==0.10.9
networkx==2.4
notebook==6.0.3
numba==0.48.0
numpy==1.17.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
omegaconf==1.4.1
opencv-python==4.2.0.34
opencv-python-headless==4.2.0.34
packaging==20.1
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pathtools==0.1.2
patsy==0.5.1
pickleshare==0.7.5
Pillow==7.0.0
pluggy==0.12.0
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.11.3
psutil==5.7.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0
pycparser==2.20
pydantic==0.32.2
Pygments==2.6.1
pymorphy2-dicts-ru==2.4.404381.4453942
pyOpenSSL==19.1.0
pyparsing==2.4.6
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
PySocks==1.7.1
pyTelegramBotAPI==3.6.6
pytest==5.4.1
python-dateutil==2.8.1
pytorch-lightning==0.7.5
pytorch-toolbelt==0.3.1
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.2
QtPy==1.9.0
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
rusenttokenize==0.0.5
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
sentry-sdk==0.14.3
shortuuid==1.0.1
six==1.14.0
smmap==3.0.2
starlette==0.12.8
statsmodels==0.11.1
subprocess32==3.5.4
tensorboard==2.2.0
tensorboard-plugin-wit==1.6.0.post2
terminado==0.8.3
testpath==0.4.4
torch==1.5.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.6.0
torchviz==0.0.1
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
typing-extensions==3.7.4.2
urllib3==1.25.7
uvicorn==0.9.0
visdom==0.1.8.9
wandb==0.8.35
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wurlitzer==2.0.0
zipp==3.1.0
