hydra_core==0.11.3
pandas==1.0.3
omegaconf==1.4.1
matplotlib==3.2.1
torchvision==0.6.0
albumentations==0.4.5
numpy==1.17.5
pycocotools==2.0
tqdm==4.45.0
torch==1.5.0
pytorch_lightning==0.7.6
opencv_python_headless==4.2.0.34
comet_ml==3.1.7
hydra==2.5
Pillow==7.1.2
scikit_learn==0.23.1
